<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content ng-controller="MainController">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Preço Gasolina</span>
            <input type="number" placeholder="R$" step="any" ng-model="Model.Gasolina.Preco">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Km/L Gasolina</span>
            <input type="number" placeholder="12" step="any" ng-model="Model.Gasolina.Consumo">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Preço Alcool</span>
            <input type="number" placeholder="R$" step="any" ng-model="Model.Alcool.Preco">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Km/L Alcool</span>
            <input type="number" placeholder="8,5" step="any" ng-model="Model.Alcool.Consumo">
          </label>          
        </div>
        
        <button class="button button-block button-positive" ng-click="calcular()">
          Calcular
        </button>
        
        <!-- ToDo: Colocar em outra view -->
        
        <div class="list">
          <span class="item item-icon-left">
            <i class="icon ion-email"></i>
            Melhor Opção Cálculo: {{Model.MelhorOpcaoPorCalculo}}
          </span>
          
          <span class="item item-icon-left">
            <i class="icon ion-email"></i>
            Melhor Opção Preço/Km: {{Model.MelhorOpcaoPorKmLitro}}
          </span>
        
          <span class="item item-icon-left item-icon-right">
            <i class="icon ion-chatbubble-working"></i> Cálculo de diferença:
            <span class="item-note">R$ {{Model.Diferenca.Preco}}</span>
          </span>
        
          <span class="item item-icon-left">
            <i class="icon ion-mic-a"></i> Diferença na Km:
            <span class="item-note">{{Model.Diferenca.Consumo}} Km</span>
          </span>
        
          <span class="item item-divider">Alcool</span>
          <span class="item item-icon-left">
            <i class="icon ion-mic-a"></i> Preço por Km:
            <span class="item-note">R$ {{Model.Alcool.PrecoKm}}</span>
          </span>
          
          <span class="item item-divider">Gasolina</span>
          <span class="item item-icon-left">
            <i class="icon ion-mic-a"></i> Preço por Km:
            <span class="item-note">R$ {{Model.Gasolina.PrecoKm}}</span>
          </span>
        
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>